<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="blue">
        
        <a href="/home" class="logo" style="color: blanchedalmond;">
            <svg width="153.65" height="36.2" viewBox="0 0 263.65 36.2" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#ffffff" stroke-width="0.25mm" fill="#ffffff" style="stroke:#ffffff;stroke-width:0.25mm;fill:#ffffff"><path d="M 201.5 35.6 L 197 35.6 L 197 0.6 L 203.65 0.6 L 213.35 22.75 L 222.9 0.6 L 229.7 0.6 L 229.7 35.6 L 224.95 35.6 L 224.95 6.65 L 215.6 27.7 L 210.9 27.7 L 201.5 6.65 L 201.5 35.6 Z M 4.5 35.6 L 0 35.6 L 0 0.6 L 6.3 0.6 L 21.75 29.7 L 21.75 0.6 L 26.25 0.6 L 26.25 35.6 L 20.05 35.6 L 4.5 6.7 L 4.5 35.6 Z M 128.4 35.6 L 107.4 35.6 L 107.4 0.6 L 128.4 0.6 L 128.4 4.7 L 112.15 4.7 L 112.15 15.35 L 126.15 15.35 L 126.15 19.35 L 112.15 19.35 L 112.15 31.5 L 128.4 31.5 L 128.4 35.6 Z M 190.25 35.6 L 169.25 35.6 L 169.25 0.6 L 190.25 0.6 L 190.25 4.7 L 174 4.7 L 174 15.35 L 188 15.35 L 188 19.35 L 174 19.35 L 174 31.5 L 190.25 31.5 L 190.25 35.6 Z M 251.6 35.6 L 246.85 35.6 L 246.85 22.3 L 234.7 2.55 L 238.7 0.15 L 249.4 17.9 L 259.9 0.35 L 263.65 2.55 L 251.6 22.3 L 251.6 35.6 Z M 73.3 35.5 L 73.3 0.7 Q 75.65 0.45 77.9 0.325 Q 79.834 0.218 82.247 0.203 A 128.288 128.288 0 0 1 83.05 0.2 Q 87.231 0.2 90.355 1.409 A 14.6 14.6 0 0 1 90.825 1.6 A 15.489 15.489 0 0 1 94.47 3.76 A 13.612 13.612 0 0 1 96.225 5.45 Q 98.35 7.9 99.375 11.125 A 22.128 22.128 0 0 1 100.361 16.623 A 25.753 25.753 0 0 1 100.4 18.05 A 22.654 22.654 0 0 1 99.659 23.899 A 20.901 20.901 0 0 1 99.35 24.95 Q 98.3 28.2 96.125 30.675 A 14.484 14.484 0 0 1 91.997 33.9 A 17.628 17.628 0 0 1 90.575 34.575 A 17.178 17.178 0 0 1 86.869 35.644 Q 84.85 36 82.5 36 Q 79.65 36 77.525 35.85 Q 75.4 35.7 73.3 35.5 Z M 135.15 35.5 L 135.15 0.7 Q 137.5 0.45 139.75 0.325 Q 141.684 0.218 144.097 0.203 A 128.288 128.288 0 0 1 144.9 0.2 Q 149.081 0.2 152.205 1.409 A 14.6 14.6 0 0 1 152.675 1.6 A 15.489 15.489 0 0 1 156.32 3.76 A 13.612 13.612 0 0 1 158.075 5.45 Q 160.2 7.9 161.225 11.125 A 22.128 22.128 0 0 1 162.211 16.623 A 25.753 25.753 0 0 1 162.25 18.05 A 22.654 22.654 0 0 1 161.509 23.899 A 20.901 20.901 0 0 1 161.2 24.95 Q 160.15 28.2 157.975 30.675 A 14.484 14.484 0 0 1 153.847 33.9 A 17.628 17.628 0 0 1 152.425 34.575 A 17.178 17.178 0 0 1 148.719 35.644 Q 146.7 36 144.35 36 Q 141.5 36 139.375 35.85 Q 137.25 35.7 135.15 35.5 Z M 45.954 35.821 A 18.255 18.255 0 0 0 49.75 36.2 Q 53.65 36.2 56.7 34.775 Q 59.75 33.35 61.9 30.875 A 16.319 16.319 0 0 0 62.562 30.061 A 17.367 17.367 0 0 0 65.175 25.1 A 20.244 20.244 0 0 0 65.583 23.752 Q 66.293 21.071 66.3 18.109 A 25.061 25.061 0 0 0 66.3 18.05 Q 66.3 14.33 65.193 11.101 A 19.333 19.333 0 0 0 65.175 11.05 Q 64.05 7.8 61.9 5.3 Q 59.75 2.8 56.675 1.4 A 14.963 14.963 0 0 0 53.729 0.419 A 18.21 18.21 0 0 0 49.75 0 A 19.675 19.675 0 0 0 46.636 0.238 A 14.83 14.83 0 0 0 40.9 2.375 Q 37.2 4.75 35.225 8.825 A 18.994 18.994 0 0 0 33.807 12.882 A 23.091 23.091 0 0 0 33.25 18.05 A 24.461 24.461 0 0 0 33.267 18.974 Q 33.388 22.181 34.357 25.049 A 20.188 20.188 0 0 0 34.375 25.1 A 19.688 19.688 0 0 0 34.595 25.712 A 17.176 17.176 0 0 0 37.625 30.875 Q 39.75 33.35 42.8 34.775 A 14.571 14.571 0 0 0 45.954 35.821 Z M 49.75 32.1 A 13.258 13.258 0 0 0 52.724 31.783 A 9.658 9.658 0 0 0 56.2 30.25 A 11.235 11.235 0 0 0 59.863 25.815 A 13.626 13.626 0 0 0 60.125 25.225 A 17.054 17.054 0 0 0 61.286 20.761 A 21.752 21.752 0 0 0 61.45 18.05 Q 61.45 15.35 60.65 12.85 Q 59.85 10.35 58.35 8.375 Q 56.85 6.4 54.675 5.25 A 9.961 9.961 0 0 0 50.967 4.159 A 12.289 12.289 0 0 0 49.75 4.1 A 12.043 12.043 0 0 0 46.504 4.52 A 9.772 9.772 0 0 0 43.475 5.95 A 11.574 11.574 0 0 0 39.675 10.514 A 13.892 13.892 0 0 0 39.475 10.95 Q 38.1 14.1 38.1 18.05 Q 38.1 20.75 38.875 23.275 A 14.69 14.69 0 0 0 40.965 27.548 A 13.962 13.962 0 0 0 41.15 27.8 Q 42.65 29.8 44.825 30.95 A 9.961 9.961 0 0 0 48.533 32.041 A 12.289 12.289 0 0 0 49.75 32.1 Z M 78.05 4.55 L 78.05 31.6 A 21.783 21.783 0 0 0 79.681 31.769 A 24.642 24.642 0 0 0 80.25 31.8 Q 81.4 31.85 82.65 31.85 Q 87.15 31.85 90 30.1 Q 92.85 28.35 94.2 25.225 A 16.146 16.146 0 0 0 95.327 21.188 A 21.251 21.251 0 0 0 95.55 18.05 Q 95.55 14.45 94.2 11.3 Q 92.85 8.15 90.05 6.225 A 10.447 10.447 0 0 0 86.524 4.695 Q 85.104 4.356 83.448 4.308 A 19.004 19.004 0 0 0 82.9 4.3 A 49.115 49.115 0 0 0 81.513 4.319 A 37.098 37.098 0 0 0 80.25 4.375 Q 79.05 4.45 78.05 4.55 Z M 139.9 4.55 L 139.9 31.6 A 21.783 21.783 0 0 0 141.531 31.769 A 24.642 24.642 0 0 0 142.1 31.8 Q 143.25 31.85 144.5 31.85 Q 149 31.85 151.85 30.1 Q 154.7 28.35 156.05 25.225 A 16.146 16.146 0 0 0 157.177 21.188 A 21.251 21.251 0 0 0 157.4 18.05 Q 157.4 14.45 156.05 11.3 Q 154.7 8.15 151.9 6.225 A 10.447 10.447 0 0 0 148.374 4.695 Q 146.954 4.356 145.298 4.308 A 19.004 19.004 0 0 0 144.75 4.3 A 49.115 49.115 0 0 0 143.363 4.319 A 37.098 37.098 0 0 0 142.1 4.375 Q 140.9 4.45 139.9 4.55 Z" vector-effect="non-scaling-stroke"/></g></svg>
         </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-list"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="fa fa-list"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
        
        <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <div class="avatar-sm">
                            <img id="image2" src="assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div id="profile" class="u-text"></div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>

<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    listProfile();
    function listProfile(){
        $.ajax({
            type: 'GET',
            url: '/users/profile',
            dataType: 'json',
            success : function(data){
                console.log(data);
                var html = '';
                var i;
                for(i=0; i<data.length; i++){
                    var logo = document.getElementById('image2');
                    logo.src = "assets/img/"+data[i].image+"";
                    
                    html +=
                        '<h4>'+data[i].username+'</h4>'+
                        '<p class="text-muted">'+data[i].email+'</p><a href="/about" class="btn btn-xs btn-secondary btn-sm">About App</a>';
                }
                $('#profile').html(html);
            }
        });
    }
});
</script>