<% layout('layout') -%> 
<div class="main-panel">
    <div class="container">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                
                   
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <!-- <div class="card-title">About Apps</div> -->
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1>Licenses</h1>
                                            <hr/>
                                            - Close Source<br/>
                                            - Full Source + Update Up Rp.50.000<br/>
                                            - NAME BANK : BNI A.n IMAM WASMAWI
                                            <br/>
                                            - NO REKENING : 0795682066
                                            <br/>
                                            - Rp. 250.000
                                            <br/>- Confirm Capture by WhatsApp (+62 82165561175)
                                            <br/>
                                            <br/>
                                            <hr/>
                                            <h1>Changelog</h1>
                                            <hr/>
                                            <br/>
                                            <h3 style="font-weight: bold;">2.1.0 - Jul 9th, 2022 <b style="color:red;">New</b></h3><br/>
                                            - <a target="_blank" href="https://gitlab.com/officialimam03/apiwa.git">Download App Nodedemy</a><br/>
                                            <br/>
                                            - <b>Added: Docs API Swagger</b> <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Registered User  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Send Buttons  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Send List  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Send Location  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Get Contacts  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Get Image Dp  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Get All Chats  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Get Logout  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Get Count Chats  <b style="color:red;"></b><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;- Api Filter Chats Inbox  <b style="color:red;"></b><br/>
                                            - Login Account Dinamis Data<br/>
                                            <br/>
                                            <hr/>

                                            <br/>
                                            <h3 style="font-weight: bold;">2.0.0 - May 24th, 2022 <b style="color:red;"></b></h3><br/>
                                            <br/>
                                            - Added: Contact Crud (DB json)<br/>
                                            - Added: Scedule (DB json)<br/>
                                            - Added: Reply (DB json)<br/>
                                            - Added: Docs API Swagger <b style="color:red;"></b><br/>
                                            - Added: Counter Message,devices,Quota Message <br/>
                                            - Added: Register<br/>
                                            - Improve: Design<br/>
                                            - Fixed: fix bugs add scaan qr code, fix bugs logout account
                                            <br/>
                                            <hr/>
                                            <br/>
                                            <h3 style="font-weight: bold;">1.0.0 - Agu 20th 2021</h3><br/>
                                            Added: Users Crud<br/>
                                            - Created users<br/>
                                            - Updated users<br/>
                                            - Deleted users<br/>
                                            - List users<br/>
                                            Added: List Message<br/>
                                            Added: Broadcast Message<br/>
                                            - Broadcast whatsApp text only<br/>
                                            - Broadcast whatsApp White Excel<br/>
                                            Added: Message<br/>
                                            - Send whatsApp text only<br/>
                                            - Send whatsApp media<br/>
                                            - Send whatsApp media URL<br/>
                                            - Send whatsApp group media URL<br/>
                                            - Express.js<br/>
                                            - Socket.io<br/>
                                            - Database Mysql + File Json<br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2022, made with <i class="fa fa-heart heart text-danger"></i> by <a target="_blank" href="https://www.youtube.com/c/HeirroGames/videos">Nodedemy</a>
            </div>				
        </div>
    </footer>
</div>